<body>
  <a href="/">Home</a>
  <a href="/about/">About</a>
  <a href="/blog/">Blog</a>

  <h1>About Me</h1>
  <h2>... and my new astro site!</h2>
  <p>
    I am doing this blog in order to learn astro but also talk a little about me
    as well as the programming language I am developing.
  </p>
</body>
