---
import BlogPosts from "../components/BlogPosts.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
const allPosts = await Astro.glob("./posts/*.md");
const pageTitle = "The Boa Language";
---

<BaseLayout pageTitle={pageTitle}>
  <p>This will be where I write about my programming language</p>
  <ul>
    {
      allPosts.map((post) => (
        <BlogPosts title={post.frontmatter.title} url={post.url} />
      ))
    }
  </ul>
</BaseLayout>
