---
import Greeting from "../components/Greetings";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog subtitle</h2>
  <Greeting client:visible messages={["Hej", "Hallo", "Hola", "Habari"]} />
  <p>Hallo liebe Mutter! Das ist meine Webseite :)</p>
</BaseLayout>
